<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="./style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-md ">
            <a class="navbar-brand brand-font" href="#">Planet<span class="colour-secondary">Crypto</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon">
                    <i class="mobile-menu fa fa-bars"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Market</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Portfolios</a></li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="#">Account</a></li>
                </ul>  
            </div>
        </nav>


        <!-- page content start -->
        <section class="coin page-content">
            <ul class="coin-info">
                <li><img class="coin-logo" src="./icons/bitcoin1.png"/></li>
                <li><h3>Ali Ammar</h3></li>
                <li><p>Automate everything.</p></li>
            </ul>
        </section>
        <section class="page-content">
<h2>Portfolio</h2>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img src="./icons/bitcoin1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <ul class="card-list">
                    <li>
    <h5 class="card-title">Bitcoin</h5>
                    </li>
                    <li>
<h5 class="card-text perc">60%</h5>
                    </li>
                </ul>
              
            </div>
          </div>
          
    </div>
    <div class="col-md-3">
            <div class="card">
                <img src="./icons/bitcoin1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <ul class="card-list">
                        <li>
        <h5 class="card-title">Bitcoin</h5>
                        </li>
                        <li>
    <h5 class="card-text perc">60%</h5>
                        </li>
                    </ul>
                  
                </div>
              </div>
              
        </div>
        <div class="col-md-3">
                <div class="card">
                    <img src="./icons/bitcoin1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <ul class="card-list">
                            <li>
            <h5 class="card-title">Bitcoin</h5>
                            </li>
                            <li>
        <h5 class="card-text perc">60%</h5>
                            </li>
                        </ul>
                      
                    </div>
                  </div>
                  
            </div>
            <div class="col-md-3">
                    <div class="card">
                        <img src="./icons/bitcoin1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <ul class="card-list">
                                <li>
                <h5 class="card-title">Bitcoin</h5>
                                </li>
                                <li>
            <h5 class="card-text perc">60%</h5>
                                </li>
                            </ul>
                          
                        </div>
                      </div>
                      
                </div>
                <div class="col-md-3">
                        <div class="card">
                            <img src="./icons/bitcoin1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <ul class="card-list">
                                    <li>
                    <h5 class="card-title">Bitcoin</h5>
                                    </li>
                                    <li>
                <h5 class="card-text perc">60%</h5>
                                    </li>
                                </ul>
                              
                            </div>
                          </div>
                          
                    </div>
</div>
        </section>

        <!-- page content end -->

        <footer class="footer">
            <div class="container text-center">
                <p class="brand-font">Planet <span class="colour-secondary">Crypto</span></p>
            </div>
        </footer>
    </body>
</html>


